{% extends "base.html" %}

{% block content %}

<div class="container">
    <br>
    <div class="text-center">
        <a href="/">
            <img class="blurred-edge" src="https://i.pinimg.com/originals/76/9c/11/769c11108c783baf78a2696bf9602387.gif"
                 height="350">
        </a>
    </div>
    <br>
    <div class="text-center">
        <a style="margin-left: 7cm;">
            <img src="https://readme-typing-svg.herokuapp.com?color=F7C500&pause=2000&weight=700&lines=ПИЙ+ПИВО+ОХОЛОДЖЕНИМ..."
                 height="100">
        </a>
    </div>

</div>


{% endblock %}