{% extends "base.html" %}

{% block content %}

<div class="container">
    <br>
    <div class="text-center">
        <a href="/">
            <img class="blurred-edge" src="https://i.pinimg.com/originals/06/6c/fa/066cfa6fb310bcc93721f5baf26a56db.jpg"
                 height="350">
        </a>
    </div>
    <br>
    <div class="text-center">
        <a style="margin-left: 7cm;">
            <img src="https://readme-typing-svg.herokuapp.com?color=F7C500&pause=2000&weight=700&lines=MAY+THE+FORCE+BE+WITH+YOU..."
                 height="100">
        </a>
    </div>

</div>


{% endblock %}