{% extends "base.html" %}

{% block content %}

<div class="container">
    <br>
    <div class="text-center">
        <a href="/">
            <img class="blurred-edge" src="https://i.pinimg.com/originals/76/9c/11/769c11108c783baf78a2696bf9602387.gif"
                 height="350">
        </a>
    </div>
    <br>
    <div class="text-center">
        <a style="margin-left: 7cm;">
            <img src="https://readme-typing-svg.herokuapp.com?color=F7C500&pause=2000&weight=700&lines=ПИЙ+ПИВО+ОХОЛОДЖЕНИМ..."
                 height="100">
        </a>
    </div>
    <a href="/">
        <img class="blurred-edge" src="https://i.pinimg.com/564x/0e/03/c1/0e03c1a7c0d5712cfa7f925eaf6a78c1.jpg"
             height="350">
        <img class="blurred-edge" src="https://i.pinimg.com/564x/29/ca/fb/29cafb374333552c1b5ac0212958a260.jpg"
             height="350">
        <img class="blurred-edge" src="https://i.pinimg.com/564x/d7/8d/e2/d78de2753ac08daf03b796e9d1be12ee.jpg"
             height="350">
        <img class="blurred-edge" src="https://i.pinimg.com/564x/bc/a6/c1/bca6c179134f0ab9ec99c9d22a24d576.jpg"
             height="350">
    </a>

</div>


{% endblock %}